---

import { Icon } from 'astro-icon';
import { Button, FormInput, FormSelect, FormTextarea } from '@littlesticks/odyssey-theme-components';

const hoursOptions = ['2 hours', '3 hours', '4 hours', '5 hours', '6 hours', '7 hours', '8 hours', 'all the hours'];
const yesNoOptions = ['Yes', 'No'];

---

<form name="Contact Form" method="POST" action="/thank-you" data-netlify="true">
  <FormInput type="text" label="Name" name="Name" placeholder="Dua Lipa" required/>
  <FormInput type="email" label="Email" name="Email" placeholder="dua@letsrock.com" required/>
  <FormInput type="tel" label="Phone Number" name="Phone Number" placeholder="Enter phone number" required/>
  <FormInput type="date" label="Event Date" name="Event Date" required/>
  <FormInput type="text" label="Event Venue" name="Event Venue" placeholder="Enter venue" required/>

  <FormSelect label="$25 Text, Bluetooth, QR Photo Delivery" name="Text, Bluetooth, QR Photo Delivery" options={yesNoOptions} required/>
  <FormSelect label="$50 Gifs, Boomerangs and Videos" name="Gifs, Boomerangs, Videos" options={yesNoOptions} required/>
  <FormSelect label="$100 Custom Tap to Start Screen" name="Custom Tap to Start Screen" options={yesNoOptions} required/>
  <FormSelect label="$100 Custom Props" name="Custom Props" options={yesNoOptions} required/>
  <FormSelect label="$100 Custom Photo Template" name="Custom Photo Template" options={yesNoOptions} required/>
  <FormSelect label="$200 Custom Branding" name="Custom Branding" options={yesNoOptions} required/>
  <FormSelect label="$200 Premium Backdrop" name="Premium Backdrop" options={yesNoOptions} required/>

  <Button customIcon>Submit
    <Fragment slot="icon">
      <Icon name="ic:baseline-chevron-right" />
    </Fragment>
  </Button>
</form>

<style>
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
</style>
